<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Welcome to login or registration page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <style>
        .hide{
            display: none;
        }

    </style>
</head>

<body>


<div class="container">
    <br>
    <p class="text-center" th:text="${name}">welcome to LMS</a></p>
    <hr>


</div>
<!--container end.//-->

<br><br><br>

</body>

</html>